<div class="fixed inset-0 z-50 flex items-center justify-center bg-gray-900 bg-opacity-60">

    <div
            class="block rounded-lg bg-white w-2/5 p-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] z-70">

        <h5 class="mb-5 text-xl font-medium leading-tight text-neutral-800">
            Create new Todo
        </h5>

        <form hx-post="/todo">
            <div class="mb-5">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="title">
                    Title
                </label>
                <input
                        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                        id="title"
                        type="text"
                        placeholder="Title"/>
            </div>

            <div class="mb-5">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="description">
                    Description
                </label>
                <textarea
                        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                        rows="3"
                        id="description"
                        type="text"
                        placeholder="Description"></textarea>
            </div>

            <div class="flex flex-row-reverse space-x-4 space-x-reverse">
                <button type="button"
                        class="bg-blue-700 hover:bg-blue-800 px-5 py-3 text-white rounded-lg"
                        hx-post="/todo-create" hx-trigger="click" hx-target="#todo-list" hx-swap="outerHTML"
                >
                    Save
                </button>
                <button type="cancel" hx-get="/todo-cancel-modal" hx-trigger="click" hx-target="#modal" hx-swap="outerHTML"
                        class="bg-gray-300 hover:bg-gray-400 px-5 py-3 text-white rounded-lg"
                >
                    Cancel
                </button>
            </div>
        </form>
    </div>
</div>